<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="teachingstudents" transaction-type="RESOURCE_LOCAL">

        <class>com.company.teachingstudents.entity.UniversityTeacher</class>
        <class>com.company.teachingstudents.entity.GradeSheet</class>
        <class>com.company.teachingstudents.entity.Student</class>
        <class>com.company.teachingstudents.entity.Task</class>
        <class>com.company.teachingstudents.entity.Report</class>
    </persistence-unit>
</persistence>
